
* {
  float: none;       /* Screens are not big enough to account for floats */
  font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */ 
  background: #fff;  /*  As much contrast as possible */
  color: #000;
}

body {
	background-color: #FCAF3E;
}

#container {
	width: 100%;
}

header {
	background-color: #FCAF3E;
	width: 100%;
	padding: 0;
	margin: 0;
}

header h1, header h2 {
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	padding: 0;
	padding-bottom: 8px;
}

header .lastletter {
	color: #f57900;
	font-family: Sans-Serif;
}

footer {
	background-color: #FCAF3E;
	width: 100%;
	padding: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#main {
	background-color: #fff;
	width: 100%;
	margin: auto;
	border-radius: 0;
	padding: 0;
	padding-top: 6px;
	padding-bottom: 1px;
}

#content {
	float: none;;
	width: 100%;
	position: static;
	right: 0;
}

#rightcolumn {
	position: static;
	display: block;
	width: 100%;
	max-width: 100%;
	float: none;
	padding: 0;
	padding-top: 1em;
	left: 0;
	text-align: center;
}

#rightcolumn .box {
	width: 95%;
	margin: auto;
	margin-bottom: 6px;
}

#rightcolumn .box table {
	width: 0;
	margin: auto;
}

#rightcolumn .box table tbody td {
	width: 0;
	margin: auto;
}

#leftcolumn {
	position: static;
	display: block;
	left: 0;
	width: 100%;
	max-width: 100%;
	padding: 0;
	float: none;
	text-align: center;
}

#leftcolumn img {
	max-width: 95%;
}

#maincolumn {
	width: 90%;
	margin: auto;
}

#img_preview {
	max-width: 240px;
}

#maincolumn * {
	margin: auto;
}

#twittertext {
	width: 95%;
	text-align: center;
}

#maincolumn li {
	margin-bottom: 1.5em;
}

#maincolumn #img_preview {
	margin-bottom: 0.5em;
}

label, input, select {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
}

label {
	color: #666;
	line-height: 160%;
}

#submit {
	background-color: white;
	padding: 2px 0 2px 0;
	border: 1px solid black;
}

#imagefile {
	width: 30%;
	margin: auto;
}

#spinner {
	margin-bottom: 1em;
}

/* On mobile we don't want the slider has it's pretty useless with touch */
#sliderbox {
	display: none; visibility: hidden;
}