#spinner {
	margin: auto;
	width: 90px;
	height: 90px;
	overflow: hidden;
	-webkit-animation-name: 'spinnerRotate';
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: 'spinnerRotate';
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#spinner img {
	width: 90px;
	height: 90px;
}

@-webkit-keyframes 'spinnerRotate' {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@keyframes 'spinnerRotate' {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

